.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/codeStyleSettings.xml
domain/build/classes/main/com/thenewmotion/domain/error/BadRequest.class
domain/build/classes/main/com/thenewmotion/domain/model/Edition$Companion.class
domain/build/classes/main/com/thenewmotion/domain/tool/TerminalObserver.class
domain/build/classes/main/com/thenewmotion/domain/usecase/GetAllVehicleFilter.class
domain/build/classes/main/com/thenewmotion/domain/usecase/GetFilterId$Companion.class
domain/build/classes/main/com/thenewmotion/domain/usecase/GetFilterId.class
domain/build/classes/main/com/thenewmotion/domain/usecase/GetVehicleFilter.class
domain/build/classes/main/com/thenewmotion/domain/usecase/SetAllVehicleFilter.class
domain/build/classes/main/com/thenewmotion/domain/usecase/SetVehicleFilter.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl$observable$1.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl$observable$2$1.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl$observable$2.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetFilterIdImpl.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetMyVehiclesImpl$observable$3.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetVehicleFilterImpl$observable$1$1.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetVehicleFilterImpl$observable$1.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/GetVehicleFilterImpl.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/HasFilterImpl$observable$1$1.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/HasFilterImpl$observable$1$2.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/IsAddVehicleExplainedImpl$observable$1.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/SetAllVehicleFilterImpl.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/SetVehicleFilterImpl.class
domain/build/classes/main/com/thenewmotion/domain/usecase/impl/SignOutImpl$observable$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/error/BadRequest.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/error/NotLoggedIn.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/model/Edition$Companion.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/GetAllVehicleFilter.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/GetFilterId$Companion.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/GetFilterId.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/GetVehicleFilter.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/SetAllVehicleFilter.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/SetVehicleFilter.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/SignIn.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/SignOut.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl$observable$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl$observable$2$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl$observable$2.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetAllVehicleFilterImpl.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetFilterIdImpl.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetMyVehiclesImpl$observable$3.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetVehicleFilterImpl$observable$1$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetVehicleFilterImpl$observable$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/GetVehicleFilterImpl.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/HasFilterImpl$observable$1$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/HasFilterImpl$observable$1$2.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/IsAddVehicleExplainedImpl$observable$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/SetAllVehicleFilterImpl.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/SetVehicleFilterImpl.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/SignInImpl.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/SignOutImpl$observable$1.class
domain/build/kotlin-classes/main/com/thenewmotion/domain/usecase/impl/SignOutImpl.class
